body {
margin: 0;
padding: 0;
}

footer{

bottom: 0; 
}
.footer-distributed{
background: #222222;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
height: 357px;
padding: 60px 90px;
margin-top: 80px;
}
 
.footer-distributed .footer-center{
display: inline-block;
vertical-align: top;
}
  
.footer-distributed h3{
color:  #ffffff;
transform: matrix(1, 0, 0, 1, 0, 0);
margin: 0;
font-size: 36px;
}
  
.footer-distributed .footer-company-name{
margin-top: 120px;
color:  #8f9296;
font-size: 14px;
font-weight: normal;

}
 
.footer-distributed .footer-center{
width: 15%;
}

.footer-distributed .footer-center:not(:first-child,:last-child){
margin-left: 105px;
}
 
.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
 

 
.footer-distributed .footer-center p{
display: inline-block;
vertical-align: middle;
margin:0;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;

}
 
.footer-distributed .footer-center p span{
display:block;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #C6C6C7;
margin-top: 19px;
}
 
.footer-distributed .footer-center p a{
color:  #5383d3;
text-decoration: none;;
}
 

@media (max-width: 880px) {
 
 .footer-distributed{
font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-center{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
 }
 
 .footer-distributed .footer-center i{
margin-left: 0;
 }
